
* {
    background-color: #36393f;
   color:white;
   font-family: Whitney;
   font-weight: bold;
}


h1 {
    margin: auto;
}

h1:nth-of-type(1n) {
 background-color: blueviolet;
}
h1:nth-of-type(2n) {
    background-color: rgb(43, 226, 119);
   }
   h1:nth-of-type(3n) {
    background-color: rgb(226, 43, 156);
   }
   h1:nth-of-type(4n) {
    background-color: rgb(226, 43, 165);
   }
   h1:nth-of-type(5n) {
    background-color: rgb(226, 43, 43);
   }
   h1:nth-of-type(6n) {
    background-color: rgb(49, 226, 43);
   }
               
.magenta {
      height:400px ;
      width: 400px;
      background-color: magenta;
      margin: 3rem;
      opacity: 0.3;
}

.othermagenta {
    background-color: rgba(255, 0, 255, 0.281);
    height:200px ;
    width: 200px;
    margin: 3rem;
    margin-bottom: 20rem;
}

img {
    border-radius: 100%;
        max-width:230px;
        max-height:95px;
        width: 90px;
        margin-left: 0;
}
p {
    margin: 50px;
    font-size: 2rem;
    background-color: #36393f00;
}


input {
    background-color: yellowgreen;
    color:#03045e;
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

input:hover {
    height: 2rem;
} 

button{
 border-radius: 3rem;
    margin: 2rem;
    font-size:2rem;
    border: dashed yellow 2px;
    opacity: 0.5;
}

button:active {
    border-style: none;
}

span {
    /* background-color: coral; */
    border:1px solid black;
    display:inline-block;
    height: 30px;
    font-size: 1.5em;
}

section {
    background-image: url('https://unsplash.com/photos/08Bmicqo6Ig');
}

section div {
    height: 300px;
    width: 300px;
    background-color: darkmagenta ; 
    margin: 20px 0;
    transition: margin-left 3s;
    display: block;
}

section:hover div {
  background-color: darkorange;
  margin-left:500px ;
  width: 400px;
  height: 400px;
}

section div:nth-of-type(1) {
    width: 300px;
    transition: height  1s ease-in, width 1s ease-in-out;

}

section:hover div:nth-of-type(2) {
    margin-left: inherit;
}

section div:nth-of-type(2) {
    transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
section div:nth-of-type(3) {
    transition-timing-function:transform 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

section div:nth-of-type(4) {
    transition-timing-function:steps(4, jump-start);
}

section div:nth-of-type(2n) {
    background-color: darkmagenta;
}

.testdiv {
    height: 200px;
    width: 200px;
    background-color: paleturquoise;
    border-width: 10px;
    border-color: palevioletred;
    border-style: inset;
display: inline-block;
    margin: 1em;

}

div:nth-of-type(2n) {
    background-color: #36393f;
}

.testdiv:nth-of-type(2n) {
    position: static;
}

.relative {
    height: 200px;
    width: 200px;
    background-color: paleturquoise;
    border-width: 10px;
    border-color: palevioletred;
    border-style: inset;
display: inline-block;
    margin: 1em;
}
.relative:nth-of-type(2n) {
    position: relative;

    top:100px;
    left: 50px;
}

.circle {
    width: 200px;
    height:200px;
    background-color: blue;
    transition: background-color 1s, border-radius 2s ;
}

html {
    transition: 0.5s;
}

.circle:hover {
    background-color: cyan  ;
    border-radius: 50%;
}

div {
    border-top: 1px solid rgb(179, 174, 174);
    height: 200px;
    width: 200px;
    background-color: paleturquoise;
    border-width: 10px;
    border-color: palevioletred;
    border-style: inset;
display: inline-block;
    margin: 1em;
}

ul {
    font-size: 2rem;
}